<div id="taskbar">
  <!-- Only only visible if spells were not able to be fetch on load -->
</div>
<input [(ngModel)]="searchText" placeholder="Search for Spell">
<!-- Will run and try to get a blank image. Will fix that issue later -->
  <div [hidden]="!show" id="allSpells">
    <div class="cards" *ngFor="let spell of spells | filter: searchText" [@cardAnimation]='spell.state' (click)="zoomCard(spell)" >
      <img src="assets/dnd_spells/dnd_cards/{{spell.name}}.png" alt="WiP" height="100%" width="100%">
     </div>            
  </div>

  <div [hidden]="show">
    <img [@cardAnimation]='selected.state' (click)="zoomCard(selected)" src="assets/dnd_spells/dnd_cards/{{selected.name}}.png" alt="{{selected.name}}/WiP" max-height="80%" max-width="80%">
  </div>


